.container{
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    background-image: linear-gradient(to top right, rgb(207, 193, 44), rgb(149, 28, 9))
}